body {
    font-family: Arial;
    text-align: center;
    background: #f4f7ff;
}

#game {
    margin: auto;
    width: 320px;
    padding: 20px;
    background: white;
    border-radius: 12px;
}

button {
    margin: 8px;
    padding: 10px;
    cursor: pointer;
}
